@page "/mainPage"

@using PW_BusinessLogicLayer.Interfaces
@using DataClasses.Domain
@using System.Drawing
@using System.Net.Mime
@using System.Diagnostics
@using System.Diagnostics.Eventing.Reader
@using DataClasses.Domain.Collections
@using DataClasses.Domain.Login
@using DataClasses.Domain.Picture
@using DataClasses.DTO
@using PW_BusinessLogicLayer

@inject NavigationManager NavManager
@inject SessionInfo SessionInfo
@inject PatientInfo PatientInfo
@inject Collection Collection
@inject ILogInController LogInController
@inject ICoordinatesLocalization Coordinates
@inject ICreateNewCollectionController CreateNewCollectionController
@*To find coordinates*@
@inject IJSRuntime JS;


<link href="css/CSSStyles.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> @*EYE*@

@if (!SessionInfo.LoggedIn)
{
    NavManager.NavigateTo("/patientLogin");
}

<h1>Velkommen, @PatientInfo.Name</h1>

<p>Her kan du sammenligne de billeder, du har taget med MoleTracker, så du nemt og hurtigt kan se efter forandringer i dine modermærker.</p>

<div class="row align-items-start">

    <div class="col">
        <div class="tabelcontainer" style="overflow: scroll; height: 100%; width: 70%">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Personlige samlinger</th>
                    </tr>
                </thead>
                <tbody @onclick=NavigateToCollectionPage style="cursor:pointer">
                    @foreach (Collection collection in collections)
                    {
                        <tr>
                            <td>@collection.CollectionName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="col">
        @*padding og sticky*@
        <div style="width: 70%;">
            @*<a href="~/Images/pin.png" />*@
            @if (AddButtonPressed == true)
            {

                <img class="cursor" id="PatientModel" src="@FrontOrBack" style="float: right; width: @Width; height: @Height;" @onclick="GetCoordinates" />

                <div class="cursor" @onclick="GetCoordinates" style="width: @(_pointRadius * 2)px; height: @(_pointRadius * 2)px; top: @(YPoint - _pointRadius)px; left: @(XPoint - _pointRadius)px; background-color: red; position: fixed; border-radius: @(_pointRadius)px"></div>


                //TODO kan eventuelt bruges senere til at klikke på et modermærke
                @*<map name="patientModel">
                        <area shape="circle" style="fill:blue" coords="19,20,30" />
                    </map>

                    <div style="width: 20px;height:30px; background-color: orange; top:300px "></div>*@

            }
            else
            {
                <img id="PatientModel" src="@FrontOrBack" style="float: right; width: @Width; height: @Height;" @onclick="GetCoordinates" usemap="#patientModel" /> @*onmousewheel="@MouseWheel"*@


                @*<map name="patientModel">
                        <area shape="circle" coords="126, 344,30" />
                    </map>*@

            }

            <button style="float: right;font-size:20px" class="@Arrow iconfields" @onclick="TurnAroundModel"></button>

        </div>
    </div>

    @*636*1431 billedstørrelse*@



</div>

<div class="col align-self-end">
    @if (AddButtonPressed == false)
    {
        <button style="float: right; margin-right: 7%; margin-top: 1%; border-radius: 28px;background:none;" class="@AddCollectionButton" @onclick="ChoosePoint"></button>
        <label style="float: right; margin-right: 1%; margin-top: 1%">Klik her for at tilføje en ny samling</label>
    }

    @if (AddButtonPressed == true)
    {
        @if (PointClicked == true)
        {
            <button style="float: right; margin-right: 7%; margin-top: 1%; border-radius: 28px;background:none" @onclick="AcceptPosition">Godkend</button>
            <p style="float: right; color: crimson; margin-right: 1%; margin-top: 1%">Vælg placering af modermærke</p>
        }
        @if (PointClicked == false)
        {
            <button style="float: right; margin-right: 7%; margin-top: 1%; border-radius: 28px;background:none" disabled="@true">Godkend</button>
            <p style="float: right; color: crimson; margin-right: 1%; margin-top: 1%">Vælg placering af modermærke</p>
        }
    }



</div>

<p style="font-size: 10px; margin-top: 1%">Bemærk venligst at MoleTracker ikke diagnosticerer hudkræft. Hvis du er bekymret for et eller flere modermærker, skal du kontakte din læge.</p>





@code {

    #region Properties and fields


    private LocationOnBody.BodyPart bodyPart;
    public string FrontOrBack = "/Images/MaleFrontCrop.png";
    public string Arrow = "fa fa-refresh";
    public string AddCollectionButton = "fa fa-plus";
    public string TurnAround { get; set; }
    public string Gender { get; set; }
    public string Width { get; set; }
    public string Height { get; set; }
    public string NewPinAdded { get; set; }
    public bool AddButtonPressed { get; set; }
    public bool AcceptButtonPressed { get; set; }
    public bool PointClicked { get; set; }

    //private IEnumerable<Collection> collections = new[]
    //{
    //    new Collection {CollectionID = 1, CollectionName = "Venstre skulder", Location = new LocationOnBody(), PictureList = new List<PictureInfo>()},
    //    new Collection {CollectionID = 1, CollectionName = "Højre skulder", Location = new LocationOnBody(), PictureList = new List<PictureInfo>()},
    //    new Collection {CollectionID = 1, CollectionName = "Venstre fod", Location = new LocationOnBody(), PictureList = new List<PictureInfo>()},
    //    new Collection {CollectionID = 1, CollectionName = "Højre fod", Location = new LocationOnBody(), PictureList = new List<PictureInfo>()}
    //};
    private List<Collection> collections = new List<Collection>();

    #endregion


    public void TurnAroundModel()
    {
        GetGender();

        if (Gender == "G")
        {

            if (this.FrontOrBack == "/Images/FemaleBackCrop.png")
            {
                this.FrontOrBack = "/Images/FemaleFrontcrop.png";
            }
            else
            {
                this.FrontOrBack = "/Images/FemaleBackCrop.png";
            }
        }

        else if (Gender == "B")
        {
            if (this.FrontOrBack == "/Images/MaleBackCrop.png")
            {
                this.FrontOrBack = "/Images/MaleFrontCrop.png";
            }
            else
            {
                this.FrontOrBack = "/Images/MaleBackCrop.png";
            }
        }
    }

    public void GetGender()
    {
        //PatientInfo = LogInController.HandlePatientInfo();
        Gender = PatientInfo.Gender;
    }


    //Zoom forsøg - virker ikke helt med event
    //https://stackoverflow.com/questions/54222913/scrollable-image-stack-using-blazor-component/54227687

    int imgNumber = 0;
    string img => $"/Images/FemaleBackCrop {imgNumber}.png";
    string img2 => $"/Images/pin.png";

    public class WheelEventArgs : Microsoft.AspNetCore.Components.Web.MouseEventArgs { public int DeltaY { get; } }

    Task MouseWheel(WheelEventArgs args)
    {
        imgNumber += Math.Sign(args.DeltaY);
        if (imgNumber == 43) imgNumber = 0;
        if (imgNumber == -1) imgNumber = 42;
        return Task.CompletedTask;
    }


    #region Coordinates

    private void ChoosePoint()
    {
        //NewPinAdded = "pin.png";
        AddButtonPressed = true;
    }

    //Klasse til skærmmål
    public class BoundingClientRect
    {
        public double X { get; set; }
        public double Y { get; set; }
        public double Width { get; set; }
        public double Height { get; set; }
        public double Top { get; set; }
        public double Right { get; set; }
        public double Bottom { get; set; }
        public double Left { get; set; }
    }

    public int X { get; set; }
    public int Y { get; set; }

    int _pointRadius = 2;
    public int XPoint { get; set; }
    public int YPoint { get; set; }

    private async Task GetCoordinates(MouseEventArgs e) //Før var det en void
    {
        var result = await JS.InvokeAsync<BoundingClientRect>("PictureClickFind", new object[] { "PatientModel" });
        X = Convert.ToInt32(e.ClientX - result.Left);
        Y = Convert.ToInt32(e.ClientY - result.Top);

        //var scroll = await JS.InvokeAsync<int>("GetWindowYScroll");
        XPoint = (int)e.ClientX;
        YPoint = (int)e.ClientY; // + scroll

        BackOrFront();
    }

    private void BackOrFront()
    {
        GetGender();

        if (Gender == "G")
        {
            if (FrontOrBack == "/Images/FemaleFrontcrop.png")
            {
                HandleLocationFemaleFront();
            }
            else
            {
                HandleLocationFemaleBack();
            }
        }

        else if (Gender == "B")
        {

        }
    }

    private void HandleLocationFemaleFront()
    {
        if (AddButtonPressed == true)
        {
            PointClicked = Coordinates.LocalizePointFemaleFront(PointClicked, X, Y);
        }
    }

    private void HandleLocationFemaleBack()
    {
        if (AddButtonPressed == true)
        {
            PointClicked = Coordinates.LocalizePointFemaleBack(PointClicked, X, Y);
        }
    }

    private void AcceptPosition()
    {
        Collection newCollectionDomain = new Collection()
        {
            Location = Coordinates.Location,
            CollectionName = Coordinates.Collections.CollectionName,
            PictureList = new List<PictureInfo>()
        };
        CreateNewCollectionController.HandleCreateNewCollection(newCollectionDomain);
        NavigateToCollectionPage();
    }

    private void NavigateToCollectionPage()
    {
        NavManager.NavigateTo("/collectionPage");
    }

    #endregion

    #region OnStartUp


    public void DisplayPatientModel()
    {
        GetGender();

        if (Gender == "G")
        {
            FrontOrBack = "/Images/FemaleFrontcrop.png";
            Width = "212px";
            Height = "477px";
        }

        else if (Gender == "B")
        {
            FrontOrBack = "/Images/MaleFrontCrop.png";
            Width = "270px";
            Height = "520px";
        }
    }

    Task StartupTask()
    {
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        CreateNewCollectionController.HandleLoadCollection(Collection);
        DisplayPatientModel();
        await StartupTask();
    }

    #endregion
}