@page "/personalinformation"

@layout MainLayout

<h3>Personlige oplysninger</h3>
<hr/>

<div class="row">
    <div class="col-sm-3">
        <p>Navn</p>
    </div>
    <div class="col-sm-4">
        <p>@name</p>
    </div>
</div>
    
<div class="row">
    <div class="col-sm-3">
        <p>Fødselsdato</p>
    </div>
    <div class="col-sm-4">
        <p>@birthdate</p>
    </div>
</div>
    
<div class="row">
    <div class="col-sm-3">
        <p>Køn</p>
    </div>
    <div class="col-sm-4">
        <p>@gender</p>
    </div>
</div>
    
<div class="row">
    <div class="col-sm-3">
        <p>Adgangskode</p>
    </div>
    <div class="col-sm-4">
        <p>@password</p>
    </div>
</div>
    
<div class="row">
    <div class="col-sm-3">
        <p>E-mail</p>
    </div>
    <div class="col-sm-4">
        <p>@email</p>
    </div>
</div>
    
<div class="row">
    <div class="col-sm-3">
        <p>CPR-nummer</p>
    </div>
    <div class="col-sm-4">
        <p>@cpr</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <button class="btn btn-success">Ændr oplysninger</button>
    </div>
</div>

@code {
    private string name = "Laura Birch";
    private string birthdate ="20. juli 1998";
    private string gender = "Kvinde";
    private string password = "*********";
    private string email = "laura.birch@hotmail.dk";
    private string cpr = "200798-xxxx";
}
