@page "/personalinformation"

@layout MainLayout

@using DataClasses.Domain.Login
@using PW_BusinessLogicLayer.Interfaces

@inject PatientInfo PatientInfo
@inject LogInInfo LogInInfo
@inject ILogInController LogInController

    <link href="/css/LogOutStyle.css" rel="stylesheet" />

    <div>
        <h3>Personlige oplysninger</h3>
        <hr />
        <div class="row mb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Navn</label>
            <div class="col">
                <textarea disabled="@IsDisabled" type="text" class="form-control" placeholder=@PatientInfo.Name aria-label="First name"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Fødselsdag</label>
            <div class="col-sm-10">
                <input disabled="@IsDisabled" type="text" class="form-control" id="colFormLabel" placeholder=@DateOfBirth>
            </div>
        </div>
        <div class="row mb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Køn</label>
            <div class="col-sm-10">
                <input disabled="@IsDisabled" type="text" class="form-control" id="colFormLabel" placeholder=@PatientInfo.Gender>
            </div>
        </div>
        <div class="row mb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Adgangskode</label>
            <div class="col-sm-10">
                <input disabled="@IsDisabled" type="password" class="form-control" id="colFormLabel" placeholder="Adgangskode">
            </div>
        </div>
        <div class="row mb-3 ">
            <label for="colFormLabel" class="col-sm-2 col-form-label">CPR-nummer</label>
            <div class="col-sm-10">
                <input disabled="@IsDisabled" type="text" class="form-control" id="colFormLabel" placeholder=@PatientInfo.CPR>
            </div>
        </div>
        <div class="row mb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Telefon</label>
            <div class="col-sm-10">
                <input disabled="@IsDisabled" type="email" class="form-control" id="colFormLabel" placeholder=@PatientInfo.PhoneNumber>
            </div>
        </div>
        <div class="row mb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input disabled="@IsDisabled" type="email" class="form-control" id="colFormLabel" placeholder=@PatientInfo.Email>
            </div>
        </div>

        <button bind="@IsDisabled" type="submit" style="float:right" class="btn btn-primary rounded-pill" @onclick="EditAndSave">@TxtType</button>

    </div>
    @*<p>
            <img class="mapcolor"src="/Images/FemaleBackCropTransparent.png" alt = "usemap" usemap="#point" />
            <map name="point">
                <area shape="circle" style=" cursor: pointer" coords="19,20,30" class="mapcolor" onmouseover="this.style.backgroundColor='#00FF00'"/>
            </map>
        </p>*@


    @code{
        //Edit and save personal information
        //TODO ændr oplysninger på API
        public string TxtType = "Redigér";
        public bool IsDisabled = true;

        public void EditAndSave()
        {
            if (this.TxtType == "Redigér")
            {
                this.IsDisabled = false;
                this.TxtType = "Gem";
            }
            else
            {
                this.IsDisabled = true;
                this.TxtType = "Redigér";

            }
        }

        public string DateOfBirth { get; set; }

        //Run this when page is loaded
        public void DisplayPatientInfo()
        {
            PatientInfo = LogInController.HandlePatientInfo();

            var cPRArray = PatientInfo.CPR.ToCharArray();

            string date = "";

            string month = "";

            string year = "";

            for (int i = 0; i < 2; i++)
            {
                date = date + cPRArray[i];
            }
            for (int i = 2; i < 4; i++)
            {
                month = month + cPRArray[i];
            }
            for (int i = 4; i < 6; i++)
            {
                year = year + cPRArray[i];
            }
            month = GetMonthOfBirth(month);
            year = GetYearOfBirth(year);

            DateOfBirth = date + ". " + month + " " + year;

        }

        private string GetYearOfBirth(string year)
        {
            int yearNo = Convert.ToInt16(year);

            var currentYear = DateTime.Now.Year.ToString();
            var currentYearArray = currentYear.ToCharArray();

            var currentYear2 = "";

            for (int i = 2; i < 4; i++)
            {
                currentYear2 = currentYear2 + currentYearArray[i];
            }

            int currentYearNo = Convert.ToInt16(currentYear2);

            if (yearNo > currentYearNo)
            {
                year = "19" + year;
            }
            else if (yearNo <= currentYearNo)
            {
                year = "20" + year;
            }
            return year;
        }

        private string GetMonthOfBirth(string month)
        {

            if (month == "01")
            {
                month = "januar";
            }
            else if (month == "02")
            {
                month = "februar";
            }
            else if (month == "03")
            {
                month = "marts";
            }
            else if (month == "04")
            {
                month = "april";
            }
            else if (month == "05")
            {
                month = "maj";
            }
            else if (month == "06")
            {
                month = "juni";
            }
            else if (month == "07")
            {
                month = "juli";
            }
            else if (month == "08")
            {
                month = "august";
            }
            else if (month == "09")
            {
                month = "september";
            }
            else if (month == "10")
            {
                month = "oktober";
            }
            else if (month == "11")
            {
                month = "november";
            }
            else if (month == "12")
            {
                month = "december";
            }

            return month;
        }

        Task StartupTask()
        {
            return Task.CompletedTask;
        }

        protected override async Task OnInitializedAsync()
        {
            DisplayPatientInfo();
            await StartupTask();
        }
    }